@page "/selectTipoUsuario"
@inject NavigationManager navman

<TituloPagina Titulo="Seleccionar Tipo de Usuario" href="/listaUsuarios" />
<br />
<EditForm Model="user" OnSubmit="botonContinuar">
  <div class="mb-3">
    <label for="tipousuario" class="form-label">Email address</label>
    <InputSelect id="tipousuario" class="form-select" style="width:100%" @bind-Value="tipoUsuario">
      <option value="1">Administrativo</option>
      <option value="2">Médico</option>
      <option value="3">Paciente</option>
    </InputSelect>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-success" style="width:100%">Continuar</button>
    </div>
  </div>
</EditForm>



@code {
  string tipoUsuario = "1";
  private Users user = new();

  private void botonContinuar()
  {
    navman.NavigateTo("/formUser/" + tipoUsuario);
  }
}
