@inject Controllers.ModelController model
@if (user != null)
{
  <a href="@link" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-2">@idUser</div>
      <div class="col-7">
        <NombreUsuario UserId="@user.UserName" />
      </div>
      <div class="col-3">
        @switch (user.UserType)
        {
          case 1:
            Administrativo
            break;
          case 2:
            Medico
            break;
          case 3:
            Paciente
            break;
        }
      </div>
    </div>
  </a>
  @* <div class="nav-item px-3">
    <NavLink class="nav-link" href="@link">

       <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter 
    </NavLink>
  </div> *@

}

@code {
  [Parameter]
  public string UserName { get; set; }

  private Users user;
  private string link;
  private int idUser;
  protected override void OnInitialized()
  {
    user = model.CargarUsuario(UserName);
    idUser = model.GetIdPersona(UserName);
    switch (user.UserType)
    {
      case 1:
        link = "/formAdministrator/" + user.UserName;
        break;
      case 2:
        link = "/formMedico/" + user.UserName;
        break;
      case 3:
        link = "/formPaciente/" + user.UserName;
        break;
    }
  }
}