@page "/listaUsuarios"
@inject Controllers.ModelController model;

<TituloPagina Titulo="Lista Usuarios" href="/"/>
<br />
<div class="mb-3">
  <a class="btn btn-success" style="width:100%" href="/selectTipoUsuario">Agregar Usuario</a>
</div>
@if (listaUsuarios != null)
{
  <div class="list-group-item">
    <div class="row">
      <div class="col-2">Id</div>
      <div class="col-7">Nombre Usuario</div>
      <div class="col-3">Tipo</div>
    </div>
  </div>
  
  <div class="list-group">
    @foreach (Users a in listaUsuarios)
    {
      <ItemUsuario UserName="@a.UserName" />
    }
  </div>
  
}

@code {
  List<Users> listaUsuarios;

  protected override void OnInitialized()
  {
    listaUsuarios = model.ListarUsuarios();
  }

}
