@page "/home/admin"
@inject NavigationManager navman

<h3>Usuario Administrativo</h3>

<div class="list-group">
  <a class="list-group-item list-group-item-action" style="width:100%" href="/listaUsuarios">Usuarios y Roles</a>
  <a class="list-group-item list-group-item-action" style="width:100%" href="/listaTest">Test</a>
  <a class="list-group-item list-group-item-action" style="width:100%" href="/asignacionPacientes">Asignacion de Pacientes</a>

</div>
@* <div class="nav-item px-3">
  <NavLink class="nav-link" href="configuraciones">
    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Configuraciones
  </NavLink>
</div> *@

@code {

}
