@page "/home/paciente"

<TituloPaginaPrincipal Titulo="Usuario Pacientes" />

<div class="list-group">
  
  <a class="list-group-item list-group-item-action" style="width:100%" href="/misTests">Test</a>
</div>

@code {

}
