# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.dtbcache.v2

/bin
/bin/debug

/.vs/
/ProjectEvaluation/
*.vsidx
ZenMindMAUI/.vs/ProjectEvaluation/
ZenMindMAUI/.vs/ProjectEvaluation/zenmindmaui.projects.v9.bin
ZenMindMAUI/ZenMindMAUIBlazor/bin/Debug/net8.0-android/com.companyname.zenmindmauiblazor-Signed.apk
ZenMindMAUI/.vs/ProjectEvaluation/zenmindmaui.metadata.v9.bin
ZenMindMAUI/.vs/ZenMindMAUI/v17/.futdcache.v2
ZenMindMAUI/.vs/ZenMindMAUI/v17/.suo
ZenMindMAUI/.vs/ZenMindMAUI/v17/DocumentLayout.backup.json
ZenMindMAUI/.vs/ZenMindMAUI/v17/DocumentLayout.json
ZenMindMAUI/.vs/ProjectEvaluation/zenmindmaui.strings.v9.bin

