@inject Controllers.ModelController model

@if (testAssignments != null)
{
  <button class="list-group-item list-group-item-action" @onclick="selectItem">
    <div class="row">
      <div class="col-2">@testAssignments.Id</div>
      <div class="col-2">@testAssignments.Date</div>
      <div class="col-8">@pacientes.SurName @pacientes.Name</div>
    </div>
  </button>
}


@code{
  [Parameter]
  public int TestAssignmentId{ get; set; }
  [Parameter]
  public EventCallback<int> SelectedItem{ get; set; }
  private TestAssignments testAssignments;
  private Pacientes pacientes;
  protected override void OnInitialized()
  {
    testAssignments = model.CargarTestAssignment(TestAssignmentId);
    pacientes = model.CargarPaciente(testAssignments.PacientesId);
  }
  private void selectItem()
  {
    SelectedItem.InvokeAsync(testAssignments.Id);
  }
}