@page "/asignarTest"
@inject Controllers.ModelController model
@inject NavigationManager navman
<TituloPagina Titulo="Asignacion de Test" href="/home/doctor" />

<a class="btn btn-primary" style="width:100%" href="/asignacionTest/-1">Nueva Asignación</a>
<ListaTestAsignacionesNoRespondidas MedicoId="medicos.Id" SelectedTestAssignment="selectTestAssignment"/>

@code {
  private Medicos medicos;

  protected override void OnInitialized()
  {
    medicos = model.CargarMedicoPorUserId(model.User.UserName);
  }
  private void selectTestAssignment(int taId)
  {
    navman.NavigateTo($"/asignacionTest/{taId}");
  }

}