@inject Controllers.ModelController model;
<div class="mi-modal-container">
  <div class="mi-modal">
    <div class="row">
      <div class="col-9">
        <h3>Seleccionar Pacientes</h3>
      </div>
      <div class="col-3">
        <button class="btn btn-danger" style="width:100%" @onclick="botonCancelar">Cancelar</button>
      </div>
    </div>
    <ListaTest SelectedItem="selectTest" />
  </div>
</div>
@code{
  [Parameter]
  public EventCallback<bool> Showing { get; set; }
  [Parameter]
  public EventCallback<int> SelectItem{ get; set; }
  private void selectTest(int tId)
  {
    SelectItem.InvokeAsync(tId);
    Showing.InvokeAsync(false);
  }

  public void botonCancelar()
  {
    Showing.InvokeAsync(false);
  }
}