@inject Controllers.ModelController model
@if(test!=null){
  <button class="list-group-item list-group-item-action" @onclick="botonSelect">
    <div class="row">
      <div class="col-2">@test.Id</div>
      <div class="col-10">
        @test.Title
      </div>
    </div>
  </button>
}

@code{
  [Parameter]
  public int TestId{ get; set; }
  [Parameter]
  public EventCallback<int> SelectedTest { get; set; }
  private Tests test;
  private string link;
  protected override void OnInitialized()
  {
    test=model.CargarTest(TestId);
    link = "/formTest/" + TestId;
  }
  private void botonSelect()
  {
    SelectedTest.InvokeAsync(TestId);
  }
}