@inject Controllers.ModelController model
@if (question != null)
{
  <button class="list-group-item list-group-item-action" @onclick="selectItem">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@question.Statement
  </button>
}

@code{
  [Parameter]
  public int QuestionId{ get; set; }
  private Questions question;
  private string link;
  [Parameter]
  public EventCallback<int> SelectedItem{ get; set; }
  protected override void OnInitialized()
  {
    question = model.CargarQuestion(QuestionId);
    link = $"/formQuestion/{question.TestsId}/{QuestionId}";
  }
  private void selectItem()
  {
    SelectedItem.InvokeAsync(question.Id);
  }
}