@inject Controllers.ModelController model
@inject NavigationManager navman

@if (listaQuestion != null)
{
  <div class="list-group">
    @foreach (Questions questions in listaQuestion)
    {
      <ItemQuestion QuestionId="@questions.Id" SelectedItem="selectQuestion" />
    }
  </div>
  
}
@code{
  [Parameter]
  public int TestId{ get; set; }
  private List<Questions> listaQuestion;
  [Parameter]
  public EventCallback<int> SelectedQuestion{ get; set; }
  protected override void OnInitialized()
  {
    listaQuestion = model.ListarQuestion(TestId);
  }
  private void selectQuestion(int qId)
  {
    SelectedQuestion.InvokeAsync(qId);
  }

}