@page "/listaTest"
@inject Controllers.ModelController model

<TituloPagina Titulo="Lista de Tests" href="/" />

<div class="row">
  <a class="btn btn-success" style="width:100%" href="/formTest/-1">Agregar Test</a>
</div>
@if (listaTest != null)
{
  <div class="list-group-item">
    <div class="row">
      <div class="col-2">Id</div>
      <div class="col-10">Título</div>
    </div>
  </div>
  <div class="list-group">
    @foreach (Tests t in listaTest)
    {
      <ItemTest TestId="@t.Id" />
    }
  </div>

}


@code {
  private List<Tests> listaTest;

  protected override void OnInitialized()
  {
    listaTest = model.ListarTest();
  }

}
