@page "/listaTest"
@inject Controllers.ModelController model

<div class="row">
  <div class="col-10">
    <h3>Lista de Test</h3>
  </div>
  <div class="col-2">
    <a style="width:100%" class="btn btn-outline-danger" href="/">
      <p>
        Atrás
      </p>
    </a>
  </div>
</div>
<div class="row">
  <a class="btn btn-success" style="width:100%" href="/formTest/-1">Agregar Test</a>
</div>
@if (listaTest != null)
{
  <div class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-2">Id</div>
      <div class="col-10">Título</div>
    </div>
  </div>
  <div class="list-group">
    @foreach (Tests t in listaTest)
    {
      <ItemTest TestId="@t.Id" />
    }
  </div>
  
}


@code {
  private List<Tests> listaTest;

  protected override void OnInitialized()
  {
    listaTest = model.ListarTest();
  }

}
