@inject Controllers.ModelController model
@if (paciente != null)
{
  <button class="list-group-item list-group-item-action @color" @onclick="botonPaciente">
    <div class="row">
      <div class="col-2">@paciente.Id</div>
      <div class="col-10">@paciente.SurName @paciente.Name</div>
    </div>
  </button>
}


@code {
  [Parameter]
  public int PacienteId { get; set; }
  private Pacientes paciente;
  private string color="";
  [Parameter]
  public EventCallback<int> SelectedPaciente{ get; set; }
  [Parameter]
  public EventCallback SelectedItem{ get; set; }

  protected override void OnInitialized()
  {
    paciente = model.CargarPaciente(PacienteId);
    color = model.GetColor(paciente.ObtenerCalificacion());
  }
  private void botonPaciente()
  {
    SelectedPaciente.InvokeAsync(PacienteId);
    SelectedItem.InvokeAsync();
  }


}