@inject Controllers.ModelController model

  <a href="@link" class="list-group-item list-group-item-action">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@medico.SurName @medico.Name
  </a>


@code{
  [Parameter]
  public int MedicoId{ get; set; }
  private Medicos medico;
  private string link;
  protected override void OnInitialized()
  {
    medico = model.CargarMedico(MedicoId);
    link = "/listaPacientes/" + medico.Id;
  }
}