@inject Controllers.ModelController model
@if (paciente != null)
{
  <div class="row">
    <div class="col-2">@paciente.Id</div>
    <div class="col-10">@paciente.SurName @paciente.Name</div>
  </div>

}


@code {
  [Parameter]
  public int PacienteId { get; set; }
  private Pacientes paciente;

  protected override void OnInitialized()
  {
    paciente = model.CargarPaciente(PacienteId);
  }


}