@inject Controllers.ModelController model
@if (listaMedicoPacientes != null)
{
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-2">Id</div>
        <div class="col-10">Nombres</div>
      </div>
    </div>
    @foreach (MedicoPaciente mp in listaMedicoPacientes)
    {
      <ItemPaciente PacienteId="@mp.PacientesId" SelectedItem="botonSelectItem" />
    }
  </div>

}

@code {
  [Parameter]
  public int MedicoId { get; set; }
  private List<MedicoPaciente> listaMedicoPacientes;
  [Parameter]
  public EventCallback<int> SelectedItem { get; set; }
  protected override void OnInitialized()
  {
    listaMedicoPacientes = model.ListarMedicoPacientes(MedicoId);
  }
  private void botonSelectItem(int pId)
  {
    SelectedItem.InvokeAsync(pId);
  }
}
ListaMedicoPaciente.razor