@page "/listaPacientes/{MedicoId:int}"
@inject Controllers.ModelController model

<TituloPagina Titulo="Lista Pacientes" href="/asignacionPacientes"/>

@if (medico != null)
{
  <div class="mb-3">
    <label for="nombreMedico" class="form-label">Médico:</label>
    <input type="email" class="form-control" id="nombreMedico" readonly @bind="nombreMedico">
  </div>
}

<div class="row">
  <div class="col">
    <button class="btn btn-primary" style="width:100%" @onclick="botonAgregarPaciente">Agregar Paciente</button>
  </div>
</div>

@if (listaPacientes != null)
{
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-2">Id</div>
        <div class="col-10">Nombres</div>
      </div>
    </div>
    @foreach (MedicoPaciente mp in listaPacientes)
    {
      <button class="list-group-item list-group-item-action" @onclick="()=>botonSelectItem(mp)">
        <ItemPaciente PacienteId="@mp.PacientesId" />
      </button>

    }
  </div>

}
@if (showSelect)
{
  <SelectPaciente MedicoId="@MedicoId" Showing="mostrarSelect" />
}
@if (showRemover)
{
  <YesNotModal Mensaje="@mensaje" Respuesta="obtenerRespuesta"></YesNotModal>
}

@code {
  [Parameter]
  public int MedicoId { get; set; }
  private List<MedicoPaciente> listaPacientes;
  private MedicoPaciente medicoPaciente;
  private Medicos medico;
  private bool showSelect = false;
  private bool showRemover = false;
  private string mensaje;
  private string nombreMedico;

  protected override void OnInitialized()
  {
    medico = model.CargarMedico(MedicoId);
    nombreMedico = medico.SurName + " " + medico.Name;
    listaPacientes = model.ListarMedicoPacientes(MedicoId);
  }
  private void botonAgregarPaciente()
  {
    showSelect = true;
  }
  private void mostrarSelect(bool s)
  {
    showSelect = false;
    refreshList();

  }
  private void obtenerRespuesta(bool r)
  {
    if (r)
    {
      model.RemoverMedicoPaciente(medicoPaciente);
      refreshList();
    }
    medicoPaciente = null;
    showRemover = false;
  }
  private void refreshList()
  {
    listaPacientes = model.ListarMedicoPacientes(MedicoId);
    StateHasChanged();
  }
  private void botonSelectItem(MedicoPaciente mp)
  {
    Pacientes pacientes = model.CargarPaciente(mp.PacientesId);
    medicoPaciente = mp;
    mensaje = "Desea desvincular a " + pacientes.SurName + " " + pacientes.Name;
    showRemover = true;
  }
}
