@page "/listaPacientes/{MedicoId:int}"
@inject Controllers.ModelController model

<TituloPagina Titulo="Lista Pacientes" href="/asignacionPacientes"/>

@if (medico != null)
{
  <div class="mb-3">
    <label for="nombreMedico" class="form-label">Médico:</label>
    <input type="email" class="form-control" id="nombreMedico" readonly @bind="nombreMedico">
  </div>
}

<div class="row">
  <div class="col">
    <button class="btn btn-primary" style="width:100%" @onclick="botonAgregarPaciente">Agregar Paciente</button>
  </div>
</div>

<ListaMedicoPaciente MedicoId="MedicoId" SelectedItem="selectedItem" />


@if (showSelect)
{
  <SelectPacienteNoAsignados MedicoId="@MedicoId" Showing="mostrarSelect" SelectedPaciente="seleccionarPaciente" />
}
@if (showRemover)
{
  <YesNotModal Mensaje="@mensaje" Respuesta="obtenerRespuesta"></YesNotModal>
}

@code {
  [Parameter]
  public int MedicoId { get; set; }
  private MedicoPaciente medicoPaciente;
  private Medicos medico;
  private bool showSelect = false;
  private bool showRemover = false;
  private string mensaje="";
  private string nombreMedico;

  protected override void OnInitialized()
  {
    medico = model.CargarMedico(MedicoId);
    nombreMedico = medico.SurName + " " + medico.Name;
  }
  private void botonAgregarPaciente()
  {
    showSelect = true;
  }
  private void mostrarSelect(bool s)
  {
    showSelect = false;
    refreshList();

  }
  private void obtenerRespuesta(bool r)
  {
    if (r)
    {
      model.RemoverMedicoPaciente(medicoPaciente);
      refreshList();
    }
    medicoPaciente = null;
    showRemover = false;
  }
  private void refreshList()
  {
    StateHasChanged();
  }
  private void botonSelectItem(MedicoPaciente mp)
  {
    Pacientes pacientes = model.CargarPaciente(mp.PacientesId);
    medicoPaciente = mp;
    mensaje = "Desea desvincular a " + pacientes.SurName + " " + pacientes.Name;
    showRemover = true;
  }
  private void selectedItem(int mpId)
  {
    MedicoPaciente mp = model.CargarMedicoPaciente(mpId);
    Pacientes pacientes = model.CargarPaciente(mp.PacientesId);
    mensaje = "Desea desvincular a " + pacientes.SurName + " " + pacientes.Name;
    showRemover = true;
  }
  private void seleccionarPaciente(int pId)
  {
    MedicoPaciente medicoPaciente = new()
    {
      MedicosId=MedicoId,
      PacientesId=pId
    };
    model.ActualizarMedicoPaciente(medicoPaciente);
  }
}
