@page "/listaUsuarios"
@inject Controllers.ModelController model;

<div class="row">
  <div class="col-10">
    <h3>Lista de Usuarios</h3>
  </div>
  <div class="col-2">
    <a style="width:100%" class="btn btn-outline-danger" href="/">
      <p>
        &lt;&lt;
      </p>
    </a>
  </div>
</div>
<div class="row">
  <a class="btn btn-success" style="width:100%" href="/selectTipoUsuario">Agregar Usuario</a>
</div>


@if (listaUsuarios != null)
{
  <div class="row">
    <div class="col-2">Id</div>
    <div class="col-7">Nombre Usuario</div>
    <div class="col-3">Tipo</div>
  </div>
  @foreach (Users a in listaUsuarios)
  {
    <ItemUsuario UserId="@a.UserName" />
  }
}

@code {
  List<Users> listaUsuarios;

  protected override void OnInitialized()
  {
    listaUsuarios = model.ListarUsuarios();
  }

}
