@page "/login"
@inject Controllers.ModelController model
@inject NavigationManager navman

<div class="row align-content-center">
  <div class="col align-content-center">
    <h3>Login</h3>
  </div>
</div>
<EditForm Model="login" OnSubmit="botonLogin">
  <div class="mb-3">
    <label for="usr" class="form-label">Usuario</label>
    <input class="form-control" id="usr" type="text" @bind="login.Usuario" />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Contraseña</label>
    <input id="pwd" class="form-control" type="password" @bind="login.Password" />
  </div>

  <button class="btn btn-primary" type="submit">Login</button>
</EditForm>


@code {
  ZenMindMAUIBlazor.Models.Login login = new();

  protected override void OnInitialized()
  {
    if (model.tablaUserVacia())
    {
      navman.NavigateTo("");
    }
  }

  private void botonLogin()
  {
    if (login.Usuario != "")
    {
      if (model.Login(login))
      {
        navman.NavigateTo("/");
      }
      else
      {
        //Notificar error en login
      }
    }
  }



}
