@page "/account/users"
@inject Controllers.ModelController model

<h3>List of Users</h3>

<button class="btn btn-success" style="width:100%">Agregar Usuario</button>
@if (listaUsuarios != null)
{
  <div class="row">
    <div class="col-3">Tipo</div>
    <div class="col-3">Nombre</div>
    <div class="col-3">Apellido</div>
    <div class="col-3">E-mail</div>
  </div>
  @foreach(MUser user in listaUsuarios)
  {
    <a href="/account/updateuser/@user.UserId">
      <div class="row">
        <div class="col-3">@user.UserType</div>
        <div class="col-3">@user.Name</div>
        <div class="col-3">@user.Surname</div>
        <div class="col-3">@user.Email</div>
      </div>
    </a>
  }
}

@code {

  List<MUser> listaUsuarios;

  protected override void OnInitialized()
  {
    listaUsuarios = model.listarUsuarios();
  }
}
