@inject Controllers.ModelController model

@if (listaTestAssignment != null)
{
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-2">Id</div>
        <div class="col-2">Fecha</div>
        <div class="col-8">Título</div>
      </div>
    </div>
  </div>
  @foreach (TestAssignments testAssignments in listaTestAssignment)
  {
    <ItemMisTestAssignment TestAssignmentId="testAssignments.Id" SelectedTestAssignment="selectTestAssignment" />
  }
}

@code {
  [Parameter]
  public int PacienteId { get; set; }
  [Parameter]
  public EventCallback<int> SelectedItem { get; set; }
  private List<TestAssignments> listaTestAssignment;

  protected override void OnInitialized()
  {
    listaTestAssignment = model.ListarTestAssignmentNoResueltosPorPaciente(PacienteId);
  }
  private void selectTestAssignment(int taId)
  {
    SelectedItem.InvokeAsync(taId);
  }
}