<div class="btn-group-vertical" style="width:100%">
  <button class="boton boton-r1"></button>
  <button class="boton boton-r2"></button>
  <button class="boton boton-r3"></button>
  <button class="boton boton-r4"></button>
  <button class="boton boton-r5"></button>
</div>
