@inject Controllers.ModelController model
@inject NavigationManager navman

@tests.Title
<br />
@if (question != null)
{
  @question.Statement
}
<br />
<button @onclick="sigPregunta">Next</button>

@code{
  [CascadingParameter]
  public int testAssignment { get; set; }
  private Tests tests;
  private List<Questions> questionsList;
   private Questions question;
  private int idx = 0;
  protected override void OnInitialized()
  {
    
    if (questionsList != null)
      question = questionsList[idx];
  }
  private void sigPregunta()
  {
    idx++;
    if (idx <= questionsList.Count)
      question = questionsList[idx];
    else
      responderPregunta();
  }
  private void responderPregunta()
  {
    question = null;
  }
}